<!--<div id="thePanel" class="panel" [ngClass]="{'animateMoveRight':isNext,'animateMoveLeft':isBack}">
   {{content}}
</div>-->
<div [@animationTest]="bindingVar" class="panel">
  <div class="content">
    Lorem ipsum dolor sit amet.
  </div>
  <div class="content">
    Lorem ipsum dolor sit amet.
  </div>
  <div class="content">
    Lorem ipsum dolor sit amet.
  </div>
</div>
<button (click)="toggle()">Toggle Fade</button>
<button (click)="countUp()">Count up</button>
<button (click)="back()">Back</button><button (click)="next()">Next</button>

