/* You can add global styles to this file, and also import other style files */
body {
  background-color: #8a8583;
}

.panel {
  margin-left:10px;
  margin-right:10px;
  background-color: #595a56;
  min-height: 150px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 30px;
  padding: 10px;
}

/*ANIMATIONS*/
.animateSlideIn {
  animation-duration: 2.5s;
  animation-name: slidein;
  opacity:1;
}

.animateMoveRight {
  animation-name:next1, next2 ;
  animation-duration: 0.7s,0.7s;
  animation-delay: 0s,0.7s;


  /*animation-duration: 2s;
  animation-name: moveOut, moveIn;*/
  position:relative;

}

.animateMoveLeft {
  animation-name:back1,back2 ;
  animation-duration: 0.7s,0.7s;
  animation-delay: 0s,0.7s;


  /*animation-duration: 2s;
  animation-name: moveOut, moveIn;*/
  position:relative;

}

@keyframes slidein {
  from {
    opacity:0;
  }

  to {
    opacity:1;
  }
}

@keyframes next1 {
  from {
    left:0px;
  }

  to {
    left:-100%;
  }
}

@keyframes next2 {
  /*from {
    left:100%;
  }

  to {
    left:0px;
  }*/
  0%  {left:100%; width:0px;}
  100% {left:0%; width:100%;}
}
@keyframes back1 {
  /*from {
    left:0px;
  }

  to {
    left:100%;
  }*/
  0%  {left:0%; width:100%;}
  100% {left:100%; width:0px;}
}

@keyframes back2 {
  from {
    left:-100%;
  }

  to {
    left:0px;
  }
}


@keyframes arrow-move {
  from {
    left: 0px;
  }

  to {
    left: 1%;
  }
}
