<header-app></header-app>
<router-outlet></router-outlet>
<div class="square" [ngClass]="{'move_square': !isHidden, 'normal': isHidden}">
  <p  [ngClass]="{'animate': !isHidden, 'animate2': isHidden}">The Caterpillar and Alice looked at each other for some time in silence:
    at last the Caterpillar took the hookah out of its mouth, and addressed
    her in a languid, sleepy voice.</p>
</div>

<div class="square2" [ngClass]="{'move_square2': !isHidden, 'normal2': isHidden}">

</div>

<fa (click)="isHidden=!isHidden" class="arrow" name="arrow-right"  size="2x" style="color:red"></fa>
